<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link rel="stylesheet" href="index.css" /> -->
  </head>
  <body>
    <header>
      <a href="#"><%= htmlWebpackPlugin.options.title %></a>
    </header>
    <main>
      <h1>
        <%= htmlWebpackPlugin.options.myPageHeader %>
      </h1>
      <ul class="ul-tasks" id="ul-tasks">        
      </ul>
    </main>
    <footer>
      Copyright. 2022.
    </footer>
  </body>
</html>